@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

body {
  @apply m-0 bg-dark text-white font-NotoSansJP;
}

.default-theme {
  @apply bg-dark text-white;
}

.pro-sidebar-inner {
  @apply !bg-transparent text-white;
}

/* Gradients */
.gradient-bg-discord-purple-to-blue {
  @apply bg-gradient-to-r from-discord-purple to-blue-500;
}
.gradient-bg-purple-to-pink {
  @apply bg-gradient-to-r from-purple-500 to-pink-300;
}
.gradient-bg-white-to-dark {
  @apply bg-gradient-to-b from-white to-[#615c6b];
}
.gradient-text-purple-to-pink {
  @apply text-transparent bg-clip-text gradient-bg-purple-to-pink;
}
.gradient-text-white-to-dark {
  @apply text-transparent bg-clip-text gradient-bg-white-to-dark;
}

/* Neon */
.neon {
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #8240ed, 0 0 0.5em #8240ed,
    0 0 0.1em #8240ed, 0 10px 3px #000;
}
.neon .twinkle {
  animation: blink linear infinite 2s;
}
.neon .twinkle:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
